.toast_message {
  transition: opacity 0.5s ease-in;
  opacity: 0;
  @apply p-4 w-full max-w-xs text-gray-500 bg-white rounded-lg shadow whitespace-pre-line
}

.success {
  @apply bg-green-500
}

.link {
  @apply bg-blue-600
}

.warning {
  @apply bg-yellow-500
}

.error{
  @apply bg-red-600
}

.toast_message > span {
  flex: 2;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  margin: 2px auto;
  color: white
}

.toast_message > .loader {
  flex: 8;
  height: 25px;
  border-radius: 20px;
  background-color: var(--grey-two);
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.Loader > .bar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  animation-name: loading;
  animation-duration: var(--timeout);
  animation-timing-function: linear;
}

@media (min-width: 480px) {
  .toast_message {
    bottom: 20px;
    right: 20px;
  }
}

@keyframes loading {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
