.container {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: azure;
  padding: 10px;
  border-radius: 15px;
}

.searchbox {
}
.searchbox > input {
  border: none;
  outline: none;
  font-size: 13px;
  background: transparent;
}
.tag {
  padding: 5px;
  background: var(--grey-two);
  color: white;
  margin: 2px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.icon {
  width: inherit;
  height: inherit;
  margin-left: 10px;
  color: var(--blue-shade-three);
  font-size: 16px;
  cursor: pointer;
}
