.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  background-color: orangered;
  /* margin-bottom: 30px; */
  z-index: 13;
}

.bar {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: transparent;
  color: whitesmoke;
  gap: 20px
}