@use "../mixins" as *;

.cart__container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  @include mq("tablet") {
    flex-direction: column;
  }
}

.cart__lst {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
}

.ux-card {
  border: 1px solid #e8e8e8;
  background: #fcfcfc;
  padding: 20px;
  position: relative;
  &:hover {
    border-color: orangered;
    background-color: #fff;
  }
}

.cart__product {
  position: relative;
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 4px 4px 0 0 rgb(0 0 0 / 10%);
  flex-wrap: wrap;
  & > .cart__product__info {
    flex: 1;
    display: flex;
    gap: 20px;
    & > img {
      max-width: 100px;
    }
    & > .product__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  & .info {
    width: 100%;
    font-size: 13px;

    & > span {
      font-weight: bolder;
      font-size: 16px;
    }
  }

  & > .change__quantity {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 12px;
  }

  & > .remove__product {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    border: none;
  }
}

.summary {
  max-width: 400px;
  dl {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: inline-block;
    dt {
      float: left;
      clear: left;
      font-weight: normal;
    }
    dd {
      float: right;
      clear: right;
      font-weight: bold;
    }
  }
  .sub-total {
    @include mq("tablet") {
      border-top: 5px solid #d0d0d0;
      dt {
        margin-top: 2px;
      }
      dd {
        font-size: 18px;
      }
    }
  }
  .total {
    padding: 20px;
    border-radius: 8px;
    dt {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
    }
    dd {
      font-size: 1.5em;
    }
  }
  .support {
    dd {
      float: left;
      font-weight: normal;
      padding-left: 0.5em;
    }
  }
  button {
    margin: 0 20px;
    width: calc(100% - 40px);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(90deg, rgba(255, 43, 43, 1) 0%, rgba(255, 218, 0, 1) 100%);
    color: #fff;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    text-align: center;
  }
}
