@use "../mixins" as *;

.homepage {
  @include block(100%, 100%);
  @include flex(column, both);
  > .trending {
    @include block(100%, 100%, 15px);
    gap: 10px;
    display: flex;
  }
  .category__lst {
    width: 80%;
    height: 150px;
  }
  > .grid_list__product {
    width: 100%;
    gap: 15px;
    @include grid();

    & > .product {
      transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
      & > img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
