@use "../mixins" as *;

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  > .background {
    flex: 1.7;
    height: 100%;
    background: linear-gradient(to top, #f71543, #eb833e) fixed;
  }

  > .login-container {
    padding: 0 20px;
    height: 100vh;
    @include flex(0, column, center);
    @include mq("tablet-wide", min) {
      flex: 1;
    }

    @include mq("phablet") {
      position: relative;
      width: 100vw;
    }

    > .form {
      border-radius: 14px;
    }
  }
}
