@use "../mixins" as *;

.page-overview {
  @include block(100%, 100%, 15px);
  @include flex(column, both);
  gap: 10px;
  .container-info {
    width: 100%;
    padding: 15px;
    align-items: stretch;
    display: flex;
    gap: 30px;
    @include mq(tablet) {
      flex-direction: column;
    }

    .preview-product {
      flex: 1;
      width: 100%;
      gap: 10px;
      @include flex(column);
      .image__magnifier {
        flex: 4;
      }
      .slider {
        width: 100%;
        height: 100px;
        @include mq(tablet) {
          width: 60px;
          height: 180px;
        }
      }
    }

    .product-img {
      height: 350px;
      width: 100%;
      flex: 1;
      border-radius: 12px;
    }
    > .product-info {
      gap: 30px;
      @include flex(column);
      flex: 1;

      & .btn-add-to-cart {
        flex: 1;
        height: 65px;
        border-radius: 8px;
        background-color: orangered;
        color: hsl(0, 0%, 90%);
        font-family: "Open Sans", sans-serif;
        font-size: larger;
        font-weight: 600;
        border: none;
        @include mq(tablet-wide) {
          font-size: medium;
        }
        @include mq(tablet) {
          font-size: small;
        }
      }
    }
  }

  .rating {
    @include block(100%, 200px, 15px);
    @include flex($center: both);
    gap: 10px;
    flex: 1;
  }
}
