.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 12px;
}

.searchbox {
  flex: 1;
  margin-left: 10px;
}
.searchbox > input {
  border: none;
  outline: none;
  font-size: 13px;
  background: transparent;
}
.tag {
  padding: 3px 5px;
  background: var(--linear-orange-red);
  color: white;
  margin: 2px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  white-space: nowrap;
}

.icon {
  height: inherit;
  margin-left: 10px;
  cursor: pointer;
}
