@mixin block($width, $height: auto, $padding: false, $margin: false) {
  width: $width;
  height: $height;
  @if $padding {
    padding: $padding;
  }
  @if $margin {
    margin: $margin;
  }
}

@mixin flex($direction: row, $center: false) {
  display: flex;
  flex-direction: $direction;
  @if $center == vertical {
    @if $direction == row {
      align-items: center;
    } @else if $direction == column {
      justify-content: center;
    }
  } @else if $center == horizonal {
    @if $direction == row {
      justify-content: center;
    } @else if $direction == column {
      align-items: center;
    }
  } @else if $center == both {
    align-items: center;
    justify-content: center;
  }
}

@mixin grid($col: repeat(auto-fit, minmax(150px, 0.15fr))) {
  display: grid;
  grid-template-columns: $col;
}

@mixin center($position) {
  position: absolute;
  @if $position == vertical {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == horizontal {
    left: 50%;
    transform: translate(-50%);
  } @else if $position == both {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin ellipse() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
