@use "../../../sass/mixins" as *;

.arrow {
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  z-index: 10;
  height: 2rem;
  width: 2rem;
  @include flex($center: both);
  border-radius: 50%;
  border-width: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: rgb(234 88 12 /1);

  &:hover {
    background-color: rgb(229 231 235 /1);
    color: rgb(251 146 60 / 1);
  }
}
