.drop_zone {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 8px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.drop_zone .preview {
  position: relative;
  display: inline-block;
  width: 25%;
  vertical-align: text-bottom;
  margin: 2px;
  word-wrap: break-word;
}

.preview span{
  font-size: 12px;
  font-weight: 400;
}

.input_file {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.drag_file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1
}

.show_file {
  width: 100%;
  min-height: 150px;
  max-height: 200px;
  overflow: auto;
}

.hero {
  position: absolute;
  margin: -10px;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview svg {
  position: absolute;
  width: 20%;
  height: 20%;
  margin-left: 10px;
  color: var(--red-orange);
  cursor: pointer;
  right: 5%;
  top: 0
}

.img_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.img_container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.img_container img + svg {
  display: inline-block;
}

.preview:hover .img_container {
  transform: scale(1.1);
}
