@use "../../../sass/mixins" as *;

.img_animated {
  width: 25%;
  min-width: 120px;
  height: 120px;
  margin: 2px;
}

.stored_img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2px;
  border-radius: 8px;
  img {
    border-radius: 8px;
  }
  > .img_option {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 220, 0.7);
    @include center(both);
    gap: 20px;
    @include flex($center: both);
  }
}
