.rotate {
	width: 5rem;
	height: 5rem;
	background-color: transparent;
	border-radius: 5rem;
	border-left: 0.3rem solid rgba(248, 1, 1, 0.889);
	position: relative;
	transform: rotate(0deg);
	animation: spinning 1s linear infinite;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.spinner .circle {
  animation: spinners linear infinite;
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #F00;
  border-radius: 50%
}

.spinner .one {
  width: 50px;
  height: 50px;
  border-top-color: #8f3b76;
  animation-duration: .85s
}

.spinner .two {
  width: 70px;
  height: 70px;
  border-top-color: #c7417b;
  animation-duration: .95s
}

.spinner .three {
  width: 100px;
  height: 100px;
  border-top-color: #f5487f;
  animation-duration: 1.05s
}


@keyframes spinners {
  0% {
      transform: rotate(0deg)
  }
  
  100% {
      transform: rotate(360deg)
  }
}

.letter_holder {
  padding: 16px;
}

.letter {
  float: left;
  font-size: 14px;
  color: #777;
}

.letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: var(--value);
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.filter {
  filter: contrast(5);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot_shuttle {
  position: relative;
  left: -15px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  margin: -1px 0;
  filter: blur(2px);
}

.dot_shuttle::before, .dot_shuttle::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  filter: blur(2px);
}

.dot_shuttle::before {
  left: 15px;
  animation: dotShuttle 2s infinite ease-out;
}

.dot_shuttle::after {
  left: 30px;
}

@keyframes dotShuttle {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-45px);
  }
  75% {
    transform: translateX(45px);
  }
}
