.letter_holder {
  padding: 16px;
}

.letter {
  float: left;
  font-size: 14px;
  color: #777;
}

.letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: var(--value);
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate {
	width: 5rem;
	height: 5rem;
	background-color: transparent;
	border-radius: 5rem;
	border-left: 0.3rem solid rgba(248, 1, 1, 0.889);
	position: relative;
	transform: rotate(0deg);
	animation: spinning 1s linear infinite;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.dot{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 5px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots{
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
  > span{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }
}

@keyframes dot{
  50%{
    transform: translateX(96px);
  }
}
@keyframes dots{
  50%{
    transform: translateX(-31px);
  }
}
