.radio_img{
  width: 100%;
  height: 20rem;
  overflow-x: auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.checked{
  position: relative;
  border: 2px solid orangered;
  & .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    color: orangered;
  }
}

.unchecked{
  border: 2px solid gainsboro;
  & .icon{
    display: none;
  }
}