@import "../../styles/mixin.scss";
.dropdown {
    position: relative;
    cursor: pointer;
  & .dropdown_content{
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid var(--light-orange);
    border-radius: 7px;
    padding: 5px;
    z-index: 10;
    @include flex(0, column, column);

    > * {
      width: 100%;
      border-radius: inherit;
      background-color: transparent;
      padding: 2px 4px;
      @include flex(0, column, center);

      &:hover {
        background-color: var(--light-orange);
        color: white
      }
    }
  }
}