@import "../../styles/mixin.scss";

.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  overflow-y: auto;
  padding: 8px;
  z-index: 13;
  background-color: cornsilk;

  > .nav {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    overflow: auto;
    padding: 0.5em;
  }

  > .item {
    width: 100%;
    flex-basis: 7%;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  > .search-wrapper {
    margin : 0
  }

  @include mq("phone"){
    width: 100%;
  }
}




