@import "./productcrud";
@import "./layout";
@import "./cart";
@import "./home";
@import "./overview";
@import "./login.scss";
@import "./crudcategory.module.scss";
@import "./mixin.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-one: #eaeaf0;
  --grey-two: #2e3f59;
  --white: #fff;
  --blue-shade-one: #548bcf;
  --blue-shade-two: #e5f1ff;
  --blue-shade-three: #2e8eff;
	--light-orange: #F98340;
	--red-orange: #F71442;
	--linear-orange-red: repeating-linear-gradient(to right, #f57a32, #f71414);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #f6f7fb
}

dl {
	dt, dd{
		display: inline-flex;
		float: left
	}
	dt{
		clear: left;
		width: 150px;
		white-space: nowrap
	}
}

.center{
	&_col{
		align-items: center;
	}
	&_row{
		justify-content: center;
	}
}

.main_btn{
	@apply max-w-fit cursor-pointer rounded-lg border-0 bg-gradient-to-r from-orange-400 to-red-600 px-3 py-2 text-center font-semibold text-white shadow-md transition-all hover:px-4 hover:py-3 hover:text-sm 
}

.card {
  // margin: 1rem;
  // padding: 1.5rem;
  display: flex;
	flex-direction: column;
	background-color: #FFF;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
  box-shadow: 0 5px 10px 0 rgba(#000, .15);
  padding: 12px 8px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.card img{
  width: 100%;
}

.add_file__btn{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  color: var(--blue-shade-one);
  border: 2px solid var(--blue-shade-one);
  display: flex;
  padding: 5px;
  font-size: small;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.thumbnail_upload{
  width: 90px;
  height: 70px;
}

.backdrop {
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.form_center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 13;
	border-radius: 15px;
	background-color: white;
	padding: 15px;
	gap: 15px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	th,
	td {
		padding: 15px;
		background-color: rgba(255,255,255,0.2);
	}
	
	th {
		text-align: left;
	}
	
	thead {
		background: var(--linear-orange-red);
		th {
			color: #fff;
		}
	}
	
	tbody {
		tr {
			&:hover {
				background-color: rgba(255,255,255,0.3);
			}
		}
		td {
			position: relative;
			color: black;
			img {
				max-width: 140px;
				max-height: 100px;
			};
			&:hover {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: -9999px;
					bottom: -9999px;
					background-color: rgba(255,255,255,0.2);
					z-index: -1;
				}
			}
		}
	}
}



/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		// padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

.skeleton {
	background-color: #e2e5e7;
	// The shine that's going to move across the skeleton:
	background-image:			
			linear-gradient(
				90deg, 
				rgba(#fff, 0), 
				rgba(#fff, 0.5),
				rgba(#fff, 0)
			);
	background-size: 40px 100%; // width of the shine
	background-repeat: no-repeat; // No need to repeat the shine effect
	background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
	animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
	to {
		// Move shine from left to right, with offset on the right based on the width of the shine - see background-size
		background-position: right -40px top 0;
	}
}

