@import "./productcrud";
@import "./layout";
@import "./cart";
@import "./home";
@import "./overview";
@import "./login.scss";
@import "./mixin.scss";

:root {
  --grey-one: #eaeaf0;
  --grey-two: #2e3f59;
  --white: #fff;
  --blue-shade-one: #548bcf;
  --blue-shade-two: #e5f1ff;
  --blue-shade-three: #2e8eff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.add_file__btn{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  color: var(--blue-shade-one);
  border: 2px solid var(--blue-shade-one);
  display: flex;
  padding: 5px;
  font-size: small;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.thumbnail_upload{
  width: 90px;
  height: 70px;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	@include mq("tablet-wide"){
		width: 680px;
	}
	@include mq("tablet"){
		width: 580px;
	}
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
		color: #fff;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		color: black;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
