@import "./mixin.scss";

.layout {
  @include flex(20px, column);
  > .nav-sidebar {
    width: 100vw;
    height: 60px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orangered;
  }
}
.body {
  width: 100%;
  padding: 50px 80px;
  @include mq("tablet-wide") {
    padding-right: 0;
  }
  @include mq("phablet") {
    padding-left: 0;
  }
}
