@import "./mixin.scss";

.page-overview{
  @include block(100%, 100%, 0, 15px);
  @include flex(10px, column, true);

  .container-info {
    width: 100%;
    padding: 15px;
    @include flex(30px, row, true);
    @include mq("tablet"){
      flex-direction: column;
    }

    .preview-product {
      flex: 1;
      @include flex(10px, column);
      @include mq("tablet"){
        @include flex(10px, row-reverse)
      }
      .image__magnifier{
        flex: 4
      }
      .slider{
        width: 180px;
          height: 60px;
        @include mq("tablet"){
          width: 60px; height: 180px;
        }
      }
    }

    .product-img {
      height: inherit;
      width: 100%;
      flex: 1;
    }
    > .product-info {
      @include flex(10px, column);
      flex: 1;

      & .btn-add-to-cart{
        flex: 1;
        height: 65px;
        border-radius: 8px;
        background-color: orangered;
        color: hsl(0, 0%, 90%);
        font-family: "Open Sans", sans-serif;
        font-size: larger;
        font-weight: 600;
        @include mq("tablet-wide"){
          font-size: medium
        }
        @include mq("tablet"){
          font-size: small
        }
      }
    }
  }

  .rating {
    @include block(100%, 200px, 0, 15px);
    @include flex(10px, row, true);
    flex: 1
  }
}

