@import "./mixin.scss";
.cart__container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  @include mq("tablet"){
    flex-direction: column;
  }
}

.cart__lst{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
}

.ux-card {
  border: 1px solid #E8E8E8;
  background: #FCFCFC;
  padding:20px;
  position: relative;
  &:hover {
    border-color: #008a32;
    background-color: #fff;
  }
}

.cart__product{
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 4px 4px 0 0 rgb(0 0 0 / 10%);
  flex-wrap: wrap;
  & > .cart__product__info{
    flex: 1;
    display: flex;
    gap: 25px;
    & > img{
      max-width: 100px;
    }
    & > .product__info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  & .info{
    width: 100%;
    font-size: 13px;

    & > span{
      font-weight: bolder;
      font-size: 16px;
    }
  }

  & > .change__quantity{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  & > .remove__product{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    border: none;
  }
}

.summary {
  dl {
    margin:0;
    padding:20px;
    dt {
      float:left;
      clear:left;
      font-weight: normal;
    }
    dd {
      float:right;
      clear:right;
      font-weight: bold;
    }
    &:after {
      content: ".";
      clear: both;
      display: block;
      height: 0;
      visibility: hidden;
    }
  }
  .sub-total {
    @include mq("tablet") {
      border-top: 5px solid #D0D0D0;
      dt {
        margin-top: 2px;
      }
      dd {
        font-size: 18px;
      }
    }
  }
  .total {
    background: #128937;
    color: #fff;
    padding: 20px;
    dt {
      text-transform: uppercase;
      margin-top:0.5em;
      font-weight:bold;
    }
    dd {
      font-size:1.5em;
    }
  }
  .support {
    dd {
      float: left;
      font-weight: normal;
      padding-left: 0.5em;
    }
  }
  button {
    margin: 0 20px;
    width: calc(100% - 40px);
    background: #53b5aa;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    text-align: center;
  }
}