.wrapper{
  margin: 20px auto;
  min-width: 300px;
  max-width: 700px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}

.section {
  width: 100%;
  padding: 8px;
  overflow-y: auto;
}

.container{
  display: flex;
  flex-direction: column;
}

.tab_container {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--linear-orange-red);
  & .toggle {
    flex: 1;
  }
  & .tab {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
    font-size: 13px;
    color: rgb(60, 42, 110);
    border-radius: 20px;
  }
}

.btn {
  @apply rounded border-0 bg-orange-500 py-2 px-4 sm:py-1 sm:px-2 sm:font-mono font-bold text-white hover:bg-orange-700;
}

.sub_categories_container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}