.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bar {
  width: 600px;
  height: 200px;
  position: relative;
}

.bar > .background {
  height: 90%;
  background: transparent;
  display: flex;
  justify-content: space-around;
}

.containerRange {
  position: absolute;
  width: 10%;
  flex-direction: column;
  top: 7px;
  border-right: 1px solid;
}

.background > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}

.containerRow {
  position: absolute;
  width: 90%;
  flex-direction: column;
  top: 1px;
  right: 0px;
}

.containerRow > .row {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.row > hr {
  width: 100%;
  border-top: 1px dashed;
  margin: 0;
}

.containerColumn {
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  align-items: flex-end;
  border-bottom: 1px solid;
}

.containerColumn > .column {
  flex: 1;
  height: var(--height);
  animation: growth ease-in 0.5s;
}

@keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--height) - 50%);
  }
  to {
    opacity: 1;
    height: var(--height);
  }
}

.column:hover {
  opacity: 0.7;
}

.background.containerValue {
  position: absolute;
  width: 90%;
  height: 10%;
  bottom: 0;
  right: 0;
}
